@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  overflow-x: hidden;
  max-width: 100vw;
  /* Ensure video at z-0 or z--1 is visible */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply text-foreground;
  /* removed bg-background */
}

@layer base {
  :root {
    --background: 195 65% 92%;
    --foreground: 186 79% 13%;
    --card: 195 67% 96%;
    --card-foreground: 186 79% 13%;
    --popover: 195 67% 96%;
    --popover-foreground: 186 79% 13%;
    --primary: 186 80% 29%;
    --primary-foreground: 195 67% 96%;
    --secondary: 181 33% 76%;
    --secondary-foreground: 186 79% 13%;
    --muted: 183 31% 85%;
    --muted-foreground: 186 50% 30%;
    --accent: 5 100% 69%;
    --accent-foreground: 186 79% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 192 48% 83%;
    --input: 192 48% 83%;
    --ring: 5 100% 69%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 185 83% 8%;
    --foreground: 195 65% 92%;
    --card: 185 80% 12%;
    --card-foreground: 195 65% 92%;
    --popover: 185 83% 8%;
    --popover-foreground: 195 65% 92%;
    --primary: 177 40% 45%;
    --primary-foreground: 185 83% 8%;
    --secondary: 185 50% 20%;
    --secondary-foreground: 195 65% 92%;
    --muted: 185 50% 20%;
    --muted-foreground: 195 60% 70%;
    --accent: 5 100% 69%;
    --accent-foreground: 185 83% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 185 50% 20%;
    --input: 185 50% 20%;
    --ring: 5 100% 69%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
  }
}